body{
	margin: 0;
	padding: 0;
	background-color:black;
	color: green;
}
ul{
	list-style-type: none;
}
li{
	list-style-type: none;
}

img{
	background: url("img/avatar.jpg") no-repeat;
}

.blink {
  animation: blink-animation 3s steps(5, start) infinite;
  -webkit-animation: blink-animation 3s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.hover_pls{
	transition: 0.5s ease-in-out;
}
.hover_pls:hover{
	background-color: #004000;
	color: #C0C0C0;
	transition: 0.5s ease-in-out;
}

a{
	text-decoration: none;
	color: green;
	transition: 0.5s ease-in-out;
}

a:hover{
	color: #C0C0C0;
	transition: 0.5s ease-in-out;
}

.mw-1{
	min-width: 580px;
}

.green-bg{
	background-color: #005B00;
}

.avatar{
	max-width: 200px;
	border
}